<mat-toolbar style="color: white !important; background-color: #161b22 !important;">
        
    <!--Boton Menú-->
    <button mat-icon-button class="example-icon" mat-button (click)="showSideNav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <!--Logo Game Over-->
    <img src="./assets/go.png" style="height: 45px">

    <!--botón de busqueda-->
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>search</mat-icon>
    </button>

    <input type="text" placeholder="search a game" [(ngModel)] = "name">

    <!--Espacio en blanco-->
    <span class="example-spacer"></span>

    <!--botón de más-->
    <button mat-icon-button class="example-icon">
        <mat-icon>more_horiz</mat-icon>
    </button>

</mat-toolbar>
