<div class="sidenav-container">

    <mat-nav-list>
        <div class="img-container">
            <img src="./assets/user.png" alt="" class="img1">
        </div>

        <div *ngIf="genres$ | async as genres">
            <div *ngFor="let genre of genres">
                <a mat-list-item routerLink="/games/genres/{{genre.id}}" routerLinkActive="selec" style="color: white;">{{genre.name}}</a>
                <p></p>
            </div>
        </div>
        
    </mat-nav-list>

    

</div>
