mat-drawer-content, mat-drawer{
    background-color: #0d1117 !important;
}

mat-drawer{
    position: fixed;                // Mantener fijo el sidenav
    overflow: hidden;               // Sin scroll
}