<mat-drawer-container class="example-container" autosize>
    <mat-drawer #mySideNav class="example-sidenav" mode="side">
        <app-sidenav></app-sidenav>
    </mat-drawer>

    <mat-drawer-content>
        <app-toolbar [showSideNav] = "mySideNav"></app-toolbar>

        <div class="games-container">
            <div *ngIf="games$ | async as games" class="games">

                <div *ngFor="let game of games" class="game">
                    <div class="img-container">
                        <img [src]="game.background_image" (click)="openDialog(game)" style="height: 200px;">
                    </div>
                    <p>{{game.name}}</p>
                </div>
            </div>
        </div>
        
    </mat-drawer-content>
</mat-drawer-container>
